* {
	padding: 0;
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	text-decoration: none;
	list-style: none;
	letter-spacing: 0.03em;
    color: #4ddde0;
}

body {
    background-color: #fff;
}

input {
    color: #000;
}

/* #FA7268 */

#wrapper {
	width: 100%;
	margin: 0 auto;
}

#logo img {
	display: block;
	margin: auto;
	width: 40%;
	margin-top: 4%;
}

#footer p {
	color: #4ddde0;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	position : absolute;
    bottom : 0;
    width: 100%;
}

.create_note {
	display: block;
	margin: auto;
	background-color: #fff;
	border-radius: 1em;
    margin-top: 5%;
	width: 7%;
	height: 3em;
}

.create_note, .show_notes p {
	color: #4ddde0;
	line-height: 45px;
    text-align: center;
	vertical-align: middle;
}

.show_notes {
	display: block;
	margin: auto;
	background-color: #fff;
	border-radius: 1em;
    margin-top: 2%;
	width: 7%;
	height: 3em;
}

textarea {
    color: #000;
}

.note {
    height: 25%;
    width: 7%;
    border-radius: 8%;
    top: 500px;
    margin-left: 400px;
    position: absolute;
    border-radius: 8%;
    background-color: #018abd;
}

.note h4 {
    text-align: center;
    font-size: 1em;
    word-wrap: break-word;
    margin-top: 5%;
    color: #fff;
}

.note p {
    text-align: center;
    font-size: 1em;
    margin-top: 50%;
    overflow: hidden;
    word-wrap: break-word;
    color: #fff;
}

.create_note_form {
	text-align: center;
	display: block;
	margin: auto;
	margin: 4% 42.5%;
    padding: 2% 0% 1% 0%;
    width: 15%;
    background-color: #018abd;
    border-radius: 2em;
}

.create_note_form p {
	margin-bottom: 1%;
    color: #fff;
}

.create_note_form input {
	margin-bottom: 1%;
}

#send_form_button {
	margin: 0% 0% 0% 0%;
	width: 15%;
	height: 3em;
	background-color: #018abd;
	border-radius: 1em;
	color: #fff;
}

#send_form_button:hover {
	background-color: #4ddde0;
	color: #fff;
}

.login {
    text-align: center;
    margin-top: 5%;
}